
@page "/Anmeldung"
@using StundenPlaner.Data
@using StundenPlanerDB.Models
@inject SP_Context Context
@inject NavigationManager Navigation


<form method="post" @onsubmit="Model.Anmelden" class="form-container">
    <h2 style="margin-bottom:100px;font-family:Verdana;color:#009879">Stundenplaner</h2>

    <div class="form-group">
        <label for="username">Benutzername:</label>
        <input type="text" id="username" name="username" class="form-control" @bind="@Model.Benutzername" />
    </div>

    <div class="form-group">
        <label for="password">Passwort:</label>
        <input type="password" id="password" name="password" class="form-control" @bind="@Model.Passwort" />
    </div>

<p style="color:red">@Model.Error</p>
    <button type="submit">Anmelden</button>

    <div class="register-link">
        <p>Noch kein Konto?</p>
        <a href="/registrierung">Registrieren</a>
    </div>
</form>

@code {
    AnmeldungsModel Model;

     protected override void OnInitialized()
    {
        base.OnInitialized();
        Model = new(Context,Navigation);
    }
}