
@page "/stundenPlan"
@using StundenPlaner.Data
@using StundenPlanerDB.Models
@inject SP_Context Context

<h1>Stundenplan</h1>


<table class="table">
    <thead>
        <tr>
            <th>Wochentag</th>
            <th>Schulfach</th>
            <th>Lehrer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var wochenplanItem in model.Wochenplan)
        {
            <tr>
                <td>@wochenplanItem.Tag</td>
                <td>
                    @foreach (var stunde in wochenplanItem.Stunden)
                    {
                        <p>@stunde.Fach</p>
                    }
                </td>
                <td>
                    @foreach (var stunde in wochenplanItem.Stunden)
                    {
                        <p>@stunde.Lehrer</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    StundenplansModel model;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        model = new(Context);
        model.ladeStunden();
    }
}
